extends ../layout

block content
    h1 Add New Product
    form(action="/products/add",method="post")
        .form-group
            label(for="name") Product Name
            input#name(type="text", class="form-control",name="name")
        .form-group
            label(for="price") Price
            input#price(type="text", class="form-control",name="price")
        .form-group
            label(for="id") product ID
            input#id(type="text", class="form-control",name="id")
        .form-group
            label(for="colour") Color
            input#colour(type="text", class="form-control",name="colour")
        input(type="submit", class="btn btn-info")
